<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title th:remove="all">Linen A reset password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div
        style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
      "
>
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="display: flex; justify-content: center">
            <img
                    src="http://res.cloudinary.com/vhg2901/image/upload/v1671167312/logo_jgbwhn.jpg"
                    alt=""
                    style="width: 200px; height: 200px"
            />
        </div>
        <div style="border-bottom: 1px solid #eee">
            <a
                    href=""
                    style="
              font-size: 1.4em;
              color: #00466a;
              text-decoration: none;
              font-weight: 600;
            "
            >Linen A</a
            >
        </div>
        <p style="font-size: 1.1em">
            Hi, <span th:text="${account_name}"></span>
        </p>
        <p>
            Thank you for choosing Linen A. Use the following OTP to complete
            your Reset Password procedures.
        </p>
        <p
                style="
            background: #00466a;
                       font-size: 22px;
            margin: 0 auto;
            width: max-content;
            padding: 0 10px;
            color: #fff;
            border-radius: 4px;
          "
        >
            <span th:text="${code}"></span>
        </p>
        <p style="font-size: 0.9em">Regards,<br />Linen A</p>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div
                style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          "
        >
            <p>Linen A Inc</p>
            <p>2-8 Thao Dien Ward, Thao Dien, District 2, Ho Chi Minh City</p>
            <p>VietNam</p>
        </div>
    </div>
</div>
</body>
</html>
